<div class="container">
  <!-- No data message -->
  <p *ngIf="Employee.length <= 0" class="no-data text-center">There is no employee added yet!</p>

  <!-- Employee list -->
  <table class="table table-bordered" *ngIf="Employee.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Designation</th>
        <th scope="col">Phone No</th>
        <th scope="col center" colspan="3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee; let i = index">
        <th scope="row">{{employee._id}}</th>
        <td>{{employee.empfname}}</td>
        <td>{{employee.empemail}}</td>
        <td>{{employee.empdesignation}}</td>
        <td>{{employee.empcontact}}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-employee/', employee._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
		  </td>
		  <td class="text-center edit-block">
          <span class="delete" (click)="removeEmployee(employee, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
		<td class="text-center edit-block">
          <span class="edit" [routerLink]="['/view-employee/', employee._id]">
            <button type="button" class="btn btn-success btn-sm">View</button>
          </span>
		  </td>
		
		
      </tr>
    </tbody>
  </table>
</div>